<p>
  list-players works!
</p>

<ul>
  <li>
    FirstName: <input type="text" [(ngModel)]="newPlayer.firstName"/> 
    LastName: <input type="text" [(ngModel)]="newPlayer.lastName"/> 
    Birth: <input type="text" [(ngModel)]="newPlayer.birth"/> 
    Founded: <input type="date" [(ngModel)]="newPlayer.position"/> 
    <button (click)="addPlayer()">Add</button>
  </li>
  <li *ngFor="let player of players; let i = index;">
    #{{i}} {{player.firstName}} {{player.lastName}} / {{player.position}} <button (click)="deletePlayer(i)">Delete</button>
  </li>
</ul>

{{getPlayers() | json}}
