<p>
  team-details works!
</p>

<br/><hr/><br/>

    Name: <input type="text" [(ngModel)]="selectedTeam.name"/> <br/> 
    Country: <input type="text" [(ngModel)]="selectedTeam.country"/> <br/>
    Founded: <input type="date" [(ngModel)]="selectedTeam.founded"/> <br/>

<br/><hr/><br/>

Players:<br/>
<ul>
  <li *ngFor="let c of teamContracts; let i = index;">
    #{{c.id}} {{c.player.firstName}} {{c.player.lastName}} / {{c.salary}} <button (click)="firePlayer(c)">Dismiss player</button>
  </li>

</ul>

Hire new player:<br/>
<select [(ngModel)]="playerToHire">
  <option *ngFor="let player of allPlayers" [ngValue]="player">{{player.firstName}} {{player.lastName}}</option>
</select>
Salary: <input type="number" [(ngModel)]="salaryToHire"/> 
<button (click)="hirePlayer()">Hire</button>



