<md-toolbar color="primary" class="mat-elevation-z6">
  <a md-button routerLink="/welcome" id="welcomeNavButton" aria-label="Football Manager">
    <img class="docs-angular-logo"
        src="./assets/img/angular-white-transparent.svg"
        alt="Angular">
    <span>FOOTBALL MANAGER</span>
  </a>
  <span class="example-spacer"></span>
  <a md-button routerLink="/teams" id="teamsNavButton"><md-icon class="example-icon">group</md-icon>TEAMS</a>
  <a md-button routerLink="/players" id="playersNavButton"><md-icon class="example-icon">person</md-icon>PLAYERS</a>
</md-toolbar>



