<md-toolbar color="primary">
  <a md-button routerLink="/welcome" aria-label="Football Manager">
    <img class="docs-angular-logo"
        src="../../../assets/img/angular-white-transparent.svg"
        alt="Angular">
    <span>FOOTBALL MANAGER</span>
  </a>
  <span class="example-spacer"></span>
  <a md-button routerLink="/teams"><md-icon class="example-icon">group</md-icon>TEAMS</a>
  <a md-button routerLink="/players"><md-icon class="example-icon">person</md-icon>PLAYERS</a>
</md-toolbar>



